# Sanity Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=vya0ywny
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=sk3swAMmalxPd80yLv84mwqyLl8xX7WfqwfgoZkT77HboiLOORSCBBbUKEHu22Y42kGW2TzGzyB4oVNP8

# For development
SANITY_STUDIO_URL=http://localhost:3000/studio

# For production (replace with your Vercel URL)
# SANITY_STUDIO_URL=https://your-app-name.vercel.app/studio

